name: edit
on:
  push:
    paths: ['config/keyball44.keymap']
  pull_request:
    paths: ['config/keyball44.keymap']

jobs:
  edit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Remove pointing.h include
        run: sed -i '/#include <dt-bindings\/zmk\/pointing\.h>/d' config/keyball44.keymap
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Remove pointing.h include
